{% extends app.request.isXmlHttpRequest ? 'WebProfilerBundle:Profiler:ajax_layout.html.twig' : 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <img width="20" height="28" alt="{{ 'coresphere_console.headline.index'|trans }}" title="{{ 'coresphere_console.headline.index'|trans }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAcCAYAAABh2p9gAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAG5JREFUeNpi/P//PwM1ARMDlcGogZQDlhMnTlAtmi0sLBip70IkNiOFrsMwkKGiouL/CE42Bw4cAGOqGejg4AA3mGouRDaYnGSD1YXoFhCyhIVYm4l16UguvmB5keLCAVTkUNOFjKO13ggwECDAAAMNHZ7ErsJjAAAAAElFTkSuQmCC" />
    {% endset %}
    {#% set text %}Console{% endset %#}

    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block menu %}
<span class="label">
    <span class="icon"><img alt="{{ 'coresphere_console.headline.index'|trans }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAcCAYAAABh2p9gAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAG5JREFUeNpi/P//PwM1ARMDlcGogZQDlhMnTlAtmi0sLBip70IkNiOFrsMwkKGiouL/CE42Bw4cAGOqGejg4AA3mGouRDaYnGSD1YXoFhCyhIVYm4l16UguvmB5keLCAVTkUNOFjKO13ggwECDAAAMNHZ7ErsJjAAAAAElFTkSuQmCC" /></span>
    <strong>{{ 'coresphere_console.headline.index'|trans }}</strong>
</span>
{% endblock %}

{% block panel %}
        {{ render(controller('CoreSphereConsoleBundle:Console:console', {
            'token': token,
            'panel': 'console',
        })) }}
    {#% if 'explain' == page %}
        {{ render(controller('DoctrineBundle:Profiler:explain', {
            'token': token,
            'panel': 'db',
            'connectionName': app.request.query.get('connection'),
            'query': app.request.query.get('query')
        })) }}
    {% else %}
        {{ block('queries') }}
    {% endif %#}
    {#
            'connectionName': app.request.query.get('connection'),
            'query': app.request.query.get('query')
#}
{% endblock %}
